@model List<MahalCoffee_CSC400.Models.Product>
@{
    ViewBag.Title = "Services";
    Layout = "_Layout";
}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Services | Bootstrap 5 Theme</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/too-plate-clean-work.css" rel="stylesheet">

    </head>
    
<body>



<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="images/bubbles.png" class="logo img-fluid" alt="">

            <span class="ms-2">Clean Work</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item active" asp-controller="Product" asp-action="index">Our Services</a></li>

                        <li><a class="dropdown-item" asp-controller="Review" asp-action="index">FeedBack</a></li>
                        
                    </ul>
                </li>

                @*
                <li class="nav-item">
                    <a class="nav-link" asp-controller="ContactUs" asp-action="Index">Contact</a>
                </li>
                *@

                <li class="nav-item ms-3">
                    <a class="nav-link custom-btn custom-border-btn custom-btn-bg-white btn" href="#">Get started</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>

    <section class="banner-section d-flex justify-content-center align-items-end">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-lg-7 col-12">
                    <h1 class="text-white mb-lg-0">Services Listing</h1>
                </div>

                <div class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-center ms-auto">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">Services Listing</li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </section>
    <br/>
    <div class="container">
        <div class=" col-12 text-end">
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">Add New</a>
        </div>
      <br/>  
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-lg-6 col-12">
                    <div class="services-thumb section-bg mb-lg-0">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-12">
                                <div class="services-image-wrap">
                                    <a >
                                        <img src= @product.ImageUrl class="services-image img-fluid" alt="@product.Name">
                                        
                                        
                                        <div class="services-icon-wrap">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="text-white mb-0">
                                                    <i class="bi-cash me-2"></i>
                                                    @product.Price
                                                </p>
                

                                            </div>                                                    
                                        </div>
                                    </a>
                                </div>
                            </div>
                
                            <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center">
                                <div class="services-info mt-4 mt-lg-0 mt-md-0">
                                    <h4 class="services-title mb-1 mb-lg-2">
                                        <a class="services-title-link" href="services-detail.html">@product.Name</a>
                                    </h4>
                
                                    <p>@product.Description</p>
                
                                    
                                        
                
                                        
                                        <a  class="custom-btn btn button button--atlas mt-2 ms-auto" href="@Url.Action("Index" , "Product", new{id=product.ProductId})">
                                                <span>Learn More</span>
                
                                                <div class="marquee" aria-hidden="true">
                                                    <div class="marquee__inner" >
                                                        <span >Learn More</span>
                                                        <span>Learn More</span>
                                                        <span>Learn More</span>
                                                        <span>Learn More</span>
                                                    </div>
                                                </div>
                                            </a>
                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductId" class="custom-btn btn button button--atlas mt-2 ms-auto">Edit</a>
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductId" class="custom-btn btn button button--atlas mt-2 ms-auto">Delete</a>
                    </div>
             
            }
        </div>
    </div>
    <br/>
</main>
</body>
</html>
